#check-form {
    text-align: center;
    width:100%;
}

#check-form input[type=text] {
    display:block;
    width:150px;
    margin:auto;
}

#check-form input[type=submit],button {
    display: inline;
}