/*
** Import fonts
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*
** General.
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8F9;
  font-family: Ubuntu, Arial;
}

.color1 {
  background-color: #C93535;
}

select, input {
  display:block;
}

/*
** Button elements.
*/

.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  cursor:pointer;
  font-weight: 700;
}

/*
** Table elements.
*/

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

thead tr th {
  border-bottom: solid 2px black;
}

/*
** Page elements.
*/

.page-wrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  display:flex;
  flex-direction: row;
  justify-content: stretch;
}

.box-wrapper {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex:1;
}

.box {
  display: flex;
  background-color: white;
  padding:20px;
  box-sizing: border-box;
  width:100%;
  flex-direction:column;
  justify-content: center;
  min-height: 200px;
}